#visual-portal-wrapper {
	#portal-top {
		#portal-header {
			#portal-searchbox {
				// reset public.css
				clear: none;
				background-color: transparent;
				margin: 0;
				padding: 0;
				text-align: left;
				text-transform: none;
				white-space: normal;
				z-index: 2;

				//
				@extend .column-4;
				@extend .border-bottom;
				@extend .page-padding-top;
				@extend .background-gray;
			}
		}
	}
}
.hiddenStructure {
	// reset public.css
	display: none;
}
.visualClear {
	// reset public.css
	display: none;
}
.visualClearLeft {
	clear: left;
}
.LSBox {
	// reset public.css
	clear: none;
	float: none;
	text-align: left;
	padding-right: 0;
	display: inherit;
}
.margin-top-content {
	margin-top: 70px !important;
}
#portal-personaltools-wrapper {
	display: none;
}
#content {
	font-size: inherit;
	padding: 0;
	background: transparent;
}

.right-sidebar {
	width: 226px;
	position: fixed;
}
.logo-holder {
	position: fixed;
	text-align: right;
}

/*
*
* category tag
*
*/


.category {
	font-size: $font-size-s;
	&.EVENT { background-color: $color-event; }
	&.LAB { background-color: $color-lab; }
	&.PUBLISHING { background-color: $color-publishing; }
	&.ARCHIVE { background-color: $color-archive; }
	&.WEBSHOP { background-color: $color-webshop; }
	&.ABOUT { background-color: $color-about; }
}


/*
*
* documentFirstHeading
*
*/

$categories: (about $color-about) (organization $color-about) (event $color-event) (events $color-event) (lab $color-lab) (publishing $color-publishing) (archive $color-archive) (webshop $color-webshop) (shop $color-webshop);

@each $category in $categories {
	.category-#{nth($category, 1)} .documentFirstHeading {
		background-color: #{nth($category, 2)};
	}
}

.documentFirstHeading {
	display: inline-block;
	font-size: $font-size-xl;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}


.template-event_view .documentFirstHeading {
	font-style: italic;
	margin-bottom: 0;
}

/*
*
*  tileItem and tileImage
*
*/




.tileItem img.tileImage {
	float: left;
	border: 0;
	margin: 0;
	max-width: 100%;
	height: auto;
}
.tileItem, .item {
	border-top: none;
}

.template-v2_upcomingevent_view, .template-v2_eventlist_view  {
	.tileItem {
		width: 100%;
		float: left;
		margin-bottom: 15px;
		&:hover {
			background-color: $color-event;
		}
	}
	.past-event {
		width: 100%;
		float: left;
		background-color: $light-gray;
	}
}

.template-v2_webshop_view .tileItem {

	.thumb {
		height: 150px;
		margin: 10px;
		text-align: center;
		margin-bottom: 30px;
		img {
			max-height: 100%;
			width: auto;
			max-width: 100%;
		}
		.image {
			width: 100%;
			height: 100%;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	.tileShopping {
		h3 {
			color: $gray;
		}
	}
}


.leadimageContainer img {
	width: 100%;
}


.newsImageContainer, .eventDetails  {
	float: none;
	width: auto;
}
.newsImageContainer  {
	margin-left: $column-margin;

	.discreet {
		display: none;
	}
}
.newsImage {
	width: 100%;
	height: auto;
	border: none;
}

.leadimage img {
	width: 100%;
	height: auto;
}





/*
*
* event byline
*
*/

.EventDateInfo {
	text-transform: uppercase;
	font: {
		family: $font-family-header;
		// weight: $font-weight-light;
		weight: $font-weight-normal;
		// size: $font-size-m;
	};
}

.futureEventDateFrom, .futureEventDateUntil, .pastEventDateFrom, .pastEventDateUntil  {
	float: left;
	div {
		float: left;
	}

}
.futureEventDateUntil, .pastEventDateUntil {
	// margin-left: 5px;
}
.eventDetailsDateTime {
	margin-bottom: 10px;
}
.eventDetails {
	text-transform: uppercase;
	margin: 0;
	font-size: $font-size-s;
}
.event-addToCal, .event-contact {
	//float: left;
}
.event-addToCal {
	.icon, .info {
		float: left;
	}

}

.documentByLine {
	margin-bottom: 10px;
}
.documentActions {
	float: left;
}
.documentDescription, .description {
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
}

/*
*
* home view
*
*/

.template-v2_home_view .tileItem img.tileImage {
	float: none;
	margin-bottom: 10px;
}
.template-v2_home_view .tileBody {
	margin-bottom: 10px;
	padding: 0;
}
.template-v2_home_view .tileFooter {
	width: 90%;
	@extend .border-top;
}


/*
*
* archive
*
*/

.template-v2_archive_view {
	.video_container {

		padding: 20px 0;
		clear: both;
		iframe {
			width: 100%;
			height: 320px;
		}
	}

}










.template-v2_work_view, .template-v2_lab_view {
	.newsImageContainer {
		margin: 20px auto;
		width: 80%;
	}
}



.content-list {
	float: left;
	width: 100%;
	@extend .margin-top;



	.listitem {
		width: 49%;
		float: right;
		background-color: black;
		font-size: $font-size-l;
		margin: 5px 0 5px 0;

		&.even {
			margin-left: 0;
			float: left;
		}
		a {
			color: white !important;
			font-size: 1.5em;
			font-weight: bold;
			text-transform: uppercase;
			padding: 8px 15px;
			float: left;
		}
	}
}

.template-v2_people_view {
	.tileItemPeople {
		.leadimage{
			overflow: hidden;
			height: 280px;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}




/*
*
* event list
*
*/

.template-v2_eventlist_view {
	.page-description {

		padding: 20px 0;
		border: none;

	}

}


/*
*
*  Actions
*
*/

#portal-siteactions {
	display: none;
}
.documentActions {
	display: none;
}

/*
*
*  People view
*
*/
.template-v2_people_view {
	.tileHeadline a {
		font-family: $font-family-serif;
		font-size: 23px;
		font-weight: 100;
	}
	.description {
		font-size: 22px;
	}
	.tileItemPeople {
		overflow: hidden;
		height: 400px;
	}
}
