#visual-portal-wrapper {
	#portal-top {
		#portal-header {
			#portal-searchbox {
				// reset public.css
				clear: none;
				background-color: transparent;
				margin: 0;
				padding: 0;
				text-align: left;
				text-transform: none;
				white-space: normal;
				z-index: 2;

				//
				@extend .column-3;
				@extend .border-bottom;
				@extend .padding-top-double;
				@extend .background-gray;
			}
		}
	}
}
.hiddenStructure {
	// reset public.css
	display: none;
}
.visualClear {
	// reset public.css
	display: none;
}
.visualClearLeft {
	clear: left;
}
.LSBox {
	// reset public.css
	clear: none;
	float: none;
	text-align: left;
	padding-right: 0;
	display: inherit;
}
.margin-top-content {
	margin-top: 82px !important;
}
#portal-personaltools-wrapper {
	display: none;
}
#content {
	font-size: inherit;
	padding: 0;
	background: transparent;
}





#V2TopicView {
	padding: $column-margin;
}
#V2TopicView .V2TopicItem {
	width: 45%;
}

.category {
	font-size: $font-size-s;
	&.EVENT { background-color: $yellow; }
	&.LAB { background-color: $green; }
	&.PUBLISHING { background-color: $orange; }
	&.ARCHIVE { background-color: $blue; }
	&.WEBSHOP { background-color: $orange; }
}


.documentFirstHeading {
	display: inline-block;
	font-size: $font-size-xl;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}


.template-event_view .documentFirstHeading {
	font-style: italic;
	margin-bottom: 0;

}
.futureEventDateFrom, .futureEventDateUntil, .pastEventDateFrom, .pastEventDateUntil  {
	float: left;
	div {
		float: left;
	}
}
.eventDtailsDateTime {
	margin-bottom: 10px;
}
.eventDetails {
	text-transform: uppercase;
	margin: 0;
	font-size: $font-size-s;
}
.event-addToCal, .event-contact {
	//float: left;
}
.event-addToCal {
	.icon, .info {
		float: left;
	}

}


.documentActions {
	float: left;
}
.documentDescription, .description {
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
}

.V2TopicItem img {
	width: 100%;
	height: auto;
}

.tileItem img.tileImage {
	width: 100%;
	height: auto;
}
.tileItem, .item {
	border-top: none;
}

.leadimageContainer img {
	width: 100%;
}

.newsImageContainer, .eventDetails  {
	float: none;
	width: auto;
}
.newsImageContainer  {
	margin-left: $column-margin;
	.discreet {
		display: none;
	}
}
.newsImage {
	width: 100%;
	height: auto;
	border: none;
}

.V2WebshopItem {
	width: 208px;
	margin-left: 15px;
	float: left;
	padding: 9px;
	height: 370px;
	margin-bottom: 15px;
	.thumb {
		height: 150px;
		margin: 10px;
		text-align: center;
		margin-bottom: 30px;
		img {
			max-height: 100%;
			width: auto;
			max-width: 100%;
		}
		.image {
			width: 100%;
			height: 100%;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	.tileShopping {
		h3 {
			color: $gray;
		}
	}
}

.V2AboutItem .listitem {
	width: 309px;
	float: left;
	padding: 9px;
	background-color: black;
	font-size: $font-size-l;
	margin: 0 0 8px 15px;

	&.even {
		margin-left: 0;
	}
	a {
		color: white !important;
		font-size: 1.5em;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.right-sidebar {
	width: 240px;
	position: fixed;
}
.logo-holder {
	position: fixed;
	width: 68px;
	text-align: right;
}
