input {
	// reset forms.css
	font-family: $font-family-sans;
	visibility: visible;
	border: 1px solid $black;
	color: $font-color;
	vertical-align: inherit;
	background: none;
	font-size: $font-size-m;

	//
	@include box-sizing(border-box);
	&.inputLabelActive {
		// reset forms.css
		color: $black;
	}
}

.inputmonocondensedbold {

    font-family: "Input Mono Cond Bd";

    font-style: Normal;

    font-weight: Normal;

}



.inputserifitalic {

    font-family: "Input Serif It";

    font-style: Italic;

    font-weight: Normal;

}



.inputserifbold {

    font-family: "Input Serif Bd";

    font-style: Normal;

    font-weight: Normal;

}



.inputserifbolditalic {

    font-family: "Input Serif Bd It";

    font-style: Italic;

    font-weight: Normal;

}



.inputserifregular {

    font-family: "Input Serif Reg";

    font-style: Normal;

    font-weight: Normal;

}