ul.main-menu {
	margin: 0 0 0 0px;
	padding: 0;
	list-style-type: none;
	height: 35px;
	font-size: $font-size-l;
	float: left;
	width: 654px;

	ul {
		margin: 0;
		padding: 10px 0;
		list-style-type: none;
		display: none;
		position: absolute;
		margin-top: 35px;
		background: black;
		li {
			display: block;
			min-width: 150px;

			a {
				color: white;
				line-height: 1.4em;
				padding-left: 16px;
			}
		}
	}
	li {
		// position: relative;
		list-style-type: none;
		display: inline-block;
		span {
			position: absolute;
			line-height: 35px;
			left: 0;
			top: 0;
		}
		a {
			display: block;
			line-height: 35px;
			padding: 0 12px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	> li {
		@include clearfix;
		// margin-left: -17px;
		margin-left: -21px;
		&:first-child {
			margin-left: 0;
		}
		&:before {
			display: block;
			float: left;
			width: 12px;
			height: 35px;
			content: " ";
			// background: url(../++resource++v2.theme.images/v2-menu-background-line-2.png) no-repeat 0 0;
			background: url(../++resource++v2.theme.images/v2-menu-background-set.png) no-repeat -23px 0;

		}
		&:after {
			display: block;
			visibility: visible;
			clear: none;
			float: left;
			width: 12px;
			height: 35px;
			content: " ";
		}
		&:first-child {
			&:before {
				// width: 0;
				background: none;
			}
		}
		&:last-child {
			&:after {
				width: 0;
			}
		}
		> a {
			text-transform: uppercase;
			float: left;
			font-size: $font-size-l;

			&.selected {
				background: black;
			}
		}
		&:hover {
			&:before {
				// background: url(../++resource++v2.theme.images/v2-menu-background-2.png) no-repeat 0 0;
				background: url(../++resource++v2.theme.images/v2-menu-background-set.png) no-repeat 0 0;
			}
			&:after {
				// background: url(../++resource++v2.theme.images/v2-menu-background-2.png) no-repeat right top;
				background: url(../++resource++v2.theme.images/v2-menu-background-set.png) no-repeat -11.5px 0;
			}
			> a {
				color: white;
				background: black;
			}
			> ul {
				display: block;
			}
		}
		&.selected {
			&:before {
				background: url(../++resource++v2.theme.images/v2-menu-background-2.png) no-repeat 0 0;
			}
			&:after {
				background: url(../++resource++v2.theme.images/v2-menu-background-2.png) no-repeat right top;
			}
		}
		&.about {
			a:hover, a.selected {
				color: $color-about;
			}
		}
		&.events {
			a:hover, a.selected {
				color: $color-event;
			}
		}
		&.webshop {
			a:hover, a.selected {
				color: $color-webshop;
			}
		}
		&.archive {
			a:hover, a.selected {
				color: $color-archive;
			}
		}
		&.publishing {
			a:hover, a.selected {
				color: $color-publishing;
			}
		}
		&.lab {
			a:hover, a.selected {
				color: $color-lab;
			}
		}
	}
}