ul.main-menu {
	margin: 0 0 0 10px;
	padding: 0;
	list-style-type: none;
	height: 29px;
	ul {
		margin: 0;
		padding: 5px 0;
		list-style-type: none;
		display: none;
		position: absolute;
		margin-top: 29px;
		background: black;
		li {
			display: block;
			min-width: 150px;

			a {
				color: white;
			}
		}
	}
	li {
		position: relative;
		list-style-type: none;
		display: inline-block;
		span {
			position: absolute;
			line-height: 29px;
			left: 0;
			top: 0;
		}
		a {
			display: block;
			line-height: 29px;
			padding: 0 10px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	> li {
		@include clearfix;
		margin-left: -15px;
		&:first-child {
			margin-left: 0;
		}
		&:before {
			display: block;
			float: left;
			width: 10px;
			height: 29px;
			content: " ";
			background: url(../++resource++v2.theme.images/v2-menu-background-line.png) no-repeat 0 0;

		}
		&:after {
			display: block;
			visibility: visible;
			clear: none;
			float: left;
			width: 10px;
			height: 29px;
			content: " ";
		}
		&:first-child {
			&:before {
				width: 0;
			}
		}
		&:last-child {
			&:after {
				width: 0;
			}
		}
		> a {
			text-transform: uppercase;
			float: left;
			&.selected {
				background: black;
			}
		}
		&:hover {
			&:before {
				background: url(../++resource++v2.theme.images/v2-menu-background.png) no-repeat 0 0;
			}
			&:after {
				background: url(../++resource++v2.theme.images/v2-menu-background.png) no-repeat right top;
			}
			> a {
				color: white;
				background: black;
			}
			> ul {
				display: block;
			}
		}
		&.selected {
			&:before {
				background: url(../++resource++v2.theme.images/v2-menu-background.png) no-repeat 0 0;
			}
			&:after {
				background: url(../++resource++v2.theme.images/v2-menu-background.png) no-repeat right top;
			}
		}
		&.about {
			a:hover, a.selected {
				color: $green-menu;
			}
		}
		&.events {
			a:hover, a.selected {
				color: $yellow;
			}
		}
		&.webshop {
			a:hover, a.selected {
				color: $orange;
			}
		}
		&.archive {
			a:hover, a.selected {
				color: $blue;
			}
		}
		&.publishing {
			a:hover, a.selected {
				color: $orange;
			}
		}
		&.lab {
			a:hover, a.selected {
				color: $green;
			}
		}
	}
}