.portlet {
      border: none;
      background: none;
      &:hover {
            // background-color: #E6E6E6;
      }

}

.portletHeader, .managedPortlet .portletHeader {
      background: none;
      border: none;
      border-bottom: 2px solid black;
      text-transform: capitalize;
      font-size: $font-size-xl;
      line-height: 2em;
      padding: 0;
      font: {
            family: $font-family-header;
            // weight: $font-weight-light;
            weight: $font-weight-normal;
            // size: $font-size-m;
      }
      &.relatedHeader {
            font-size: $font-size-l;
      }
}
.portletItem {
      margin: 0;
      padding: 1em 0;
      border: none;
      border-bottom: 2px solid black;
}
.even {
      background: none;
}
.portletFooter {
      background: none;
      margin: 0;
      // padding: 0.25em 1em;
      padding: 0.25em 0;
      border: none;
      text-align: right;
}
.portletItemDetails {
      text-align: left;
      display: block;
      color: black;
      font-size: $font-size-s;
      line-height: $line-height-s;
      margin-bottom: 5px;
      // span {
      //       font-size: 0.7em;

      // }
}

.column-2.contentSidebar {
      width: 154px;
      .portletHeader, .managedPortlet .portletHeader {
            padding: 0;
            
      }
      .portletItem {
            padding: 0;
            border: none;
            img.relatedImage {
                  width: 100%;
            }
      }
}
.portletStaticText {
      padding: 1em 0;
}

.portletItem {
      &:hover {
            // background-color: #E6E6E6;
            a {
                  text-decoration: none;
            }
      }
      a, a:visited {
            color: $font-color;
            // font-size: $font-size-l;
            line-height:  1.2em;
            // text-transform: uppercase;
      }
      img {
            width: 100%;
            height: auto;
      }
}
#viewlet-below-content {
      .expanded_relatedItems {
            margin-top: 20px;
            >span {
                  display: block;
                  // @extend .border-bottom;
                  // margin-bottom: 20px;
            }
      }
      .tileImage {
            width: 100%;
            height: auto;
      }
      .related-button-up {
            display: none;
      }
      .related-type-title {
            color: $gray;
            font-family: $font-family-header;
            text-transform: uppercase;
            font-size: 1.2em;         
      }
      .tileHeadline a {
            font-family: $font-family-header;
            text-transform: uppercase;  
            font-size: 1.3em;         
      }
      .futureEventDateFrom, .futureEventDateUntil, .pastEventDateFrom, .pastEventDateUntil {
            float: left;
            clear: none;
      }
}
.related-block {
      clear: both;
      @extend .border-bottom;
      margin-bottom: 20px;
      .gallery-overflow {
            overflow: hidden;
            position: relative;
            margin: 0px 12px;
            // height: 206px;
            .related-gallery-stream {
                  position: relative;
                  list-style: none;
                  overflow: none;
                  margin-top: 12px;
                  margin-bottom: 12px;
                  margin-left: 0px !important;
                  margin-right: 0px !important;
                  white-space: nowrap;
                  left: 0;
                  .related-gallery-item {
                        display: inline;
                        margin: 0px 24px 0px 0px;
                        img {
                              vertical-align: middle;
                        }
                  }
            }
      }
      .related-gallery-wrapper {
            position: relative;
            a.gallery-move-right {
                  @include slidesBtn;
                  opacity: 1;
                  right: -20px;
                  background-position: right top;
                  margin-top: 0px;
            }
            a.gallery-move-left {
                  @include slidesBtn;
                  opacity: 1;
                  left: -20px;                  
                  margin-top: 0px;
            }
      }
      // .related-gallery-wrapper a.gallery-move-right {
      //       float: right;
      //       margin-right: -23px;
      //       margin-top: -115px;
      //       cursor: pointer;
      // }
      // .related-gallery-wrapper a.gallery-move-left {
      //       float: left;
      //       margin-left: -23px;
      //       margin-top: -115px;
      //       cursor: pointer;
      //       display: none;
      // }
      // .tileItem {
      //       width: 50%;
      //       -moz-box-sizing: border-box;
      //       -webkit-box-sizing: border-box;
      //       box-sizing: border-box;
      //       float: left;
      //       &:nth-child(even) {
      //             padding-left: 15px;
      //       }
      //       &:nth-child(odd) {
      //             padding-right: 15px;
      //       }
      // }
}
.portletEvents .EventDateInfo{
      font-size: $font-size-l;
      width: 30%;
      padding-right: 10px;
      text-align: right;
      float: left;
      box-sizing: border-box;
      line-height: 1.1;
}
.portletEvents .EventInfo{
      width: 70%;
      float: left;
      box-sizing: border-box;
}
.portletEvents .portletItem:hover {
      background-color: $yellow;
}

.portletCollection:hover {
      background: none;
}

.portlet-static-mailinglist {
      // width: 180px;
      .tileItemOneColumn:first-child {
            // margin: 1em 0;
            a {
                  margin-right: 3px;
            }
      }
      .social-icons img {
            width: 28px;
            margin-right: 5px;
      }
}

.portletRelatedItems {
      .relatedTitle {
            font-family: $font-family-header;

      }
      .relatedHeader {
            margin-bottom: 20px;
            
      }
      .relatedImage {
            margin-bottom: 20px;
      }
}