.searchSection {
	display: none;
}
input {
	&#searchGadget {
		// reset forms.css
		border: none;
		padding: 0;
		margin: 0;

		//
		display: block;
		float: left;
		width: 197px;
		height: 35px;
		line-height: 35px;
		text-transform: uppercase;
		padding: 0 10px;
		font-size: $font-size-l;
		line-height: $line-height-l;
	}
	&.searchButton {
		// reset forms.css
		margin-bottom: 0 !important;
		color: $black;
		font-size: $font-size-m;
		background: none;
		cursor: pointer;
		padding: 0;
		text-transform: none;
		border: none;

		//
		background: url(../++resource++v2.theme.images/v2-search-icon.png) no-repeat center center;
		width: 29px;
		height: 29px;
		display: block;
		text-indent: -9999px;
		float: left;
	}
}

.template-v2_archive_view .category-archive {
	.searchform {
		display: inline-block;
		float: left;
	}
	input {
		&#searchGadget {
			// reset forms.css
			border: none;
			padding: 0;
			margin: 0;
			background-color: $color-archive;
			//
			display: block;
			float: left;
			width: 300px;
			height: 29px;
			line-height: 29px;
			text-transform: uppercase;
			padding: 0 10px;
			//font-size: $font-size-l;
		}
		&.searchButton {
			// reset forms.css
			margin-bottom: 0 !important;
			color: $black;
			font-size: $font-size-m;
			background: none;
			cursor: pointer;
			padding: 0;
			text-transform: none;
			border: none;

			//
			background: url(../++resource++v2.theme.images/v2-search-icon-bg-white.png) no-repeat center center;
			width: 29px;
			height: 29px;
			display: block;
			text-indent: -9999px;
			float: left;
		}
	}
	.searchbyYear {
		float: left;
		padding: 0 10px;
		margin-left: 18px;
		height: 29px;
		line-height: 29px;
		position: relative;
		z-index: 999;
		.yearSelectTitle {
			text-transform: uppercase;

		}
		.yearSelectItems {
			position: absolute;
			top: 29px;
			width: 300px;
			line-height: 1.5em;
			display: none;
			left: 0;
			padding: 0 10px;
		}
		&:hover {
			background-color: $color-archive;
			.yearSelectItems {
				display: block;
				background-color: $color-archive;
			}
		}
		.yearItem {
			float: left;
			padding: 5px 10px 0 0;
		}
	}
}

.template-search {
	.searchPage {
		float: left;
		margin-bottom: 30px;
	}
	.search-field {
		float: left;
		width: 450px;
		@extend .border-bottom;
		input {
			&.searchPage {
				// reset forms.css
				border: none;
				width: 400px;

				padding: 0;
				margin: 0;
				height: 50px;
				font-weight: 300;
				//
				display: block;
				float: left;
				line-height: 29px;
				text-transform: uppercase;
				padding: 0 10px;
				//font-size: $font-size-l;
			}
			&.searchButton {
				// reset forms.css
				margin-bottom: 0 !important;
				color: $black;
				font-size: $font-size-m;
				background: none;
				cursor: pointer;
				padding: 0;
				text-transform: none;
				border: none;

				//
				background: url(../++resource++v2.theme.images/v2-search-icon-large.png) no-repeat center center;
				width: 50px;
				height: 50px;
				display: block;
				text-indent: -9999px;
				float: left;
			}
		}			
	}
	.resultTypes li {
		display: inline-block;
		span {
			text-transform: uppercase;
			background-color: $black;
			color: $white;
			padding: 2px 5px;	
			font-family: $font-family-header;	
			font-size: 1.3em;	
		}
		
	}
	a.state-published {
		color: $black !important;
	}
	.result-leadimage {
		margin-bottom: 20px;
		img {
			width: 100%;
			height: auto;			
		}

	}
	.search_result_box {
		padding-bottom: 20px !important;
		@extend .border-bottom;
	}
	.searchResults {
		margin-top: 10px;
	}

}
