

#slideshow {
  position: relative;
  height: 305px;
  >div {
    width: 100%;
    img {
      width: 100%;
    }
    a.more_info {
      position: absolute;
      z-index: 9999;
      bottom: 5px;
      right: 10px;
    }
  }
}
#slideshow-wrapper{
    margin: 0;
    position: relative;
        #next {
          @include slidesBtn;
          right: 0px;
          background-position: right top;
       }
        #prev {
          @include slidesBtn;
          left: 0px;

        }

      &:hover {
        #next, #prev {
          opacity: 1;
        }
      }
  #slide-nav {
    position: absolute;
    bottom: 5px;
    z-index: 99999999;
    text-align: center;
    width: 100%;
    a {
        width: 13px;
        height: 13px;
        background: #e5e5e5;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        text-indent: -80px;
        overflow: hidden;
        margin: 3px;
      &.activeSlide {
        background: $yellow;
      }
    }
  } 
}


