@mixin slidesBtn() {
          @include transition-property(opacity);
          @include transition-duration(1s);
          position: absolute;
          z-index: 999;
          top: 50%;
          opacity: 0;
          cursor: pointer;
          background-color: black;
          width: 26px;
          height: 26px;
          margin-top: -13px;
          color: white;
          text-align: center;
          font-size: 12px;
          background: transparent url($image-dir + 'next_prev.gif' )  no-repeat left top;
          text-indent: -9999px;
}

#slideshow {
  position: relative;
  height: 305px;
  >div {
    width: 100%;
    img {
      width: 100%;
    }
    a.more_info {
      position: absolute;
      z-index: 9999;
      bottom: 5px;
      right: 10px;
    }
  }
}
#slideshow-wrapper{
    margin: 0;
    position: relative;
        #next {
          @include slidesBtn;
          right: 0px;
          background-position: right top;
       }
        #prev {
          @include slidesBtn;
          left: 0px;

        }

      &:hover {
        #next, #prev {
          opacity: 1;
        }
      }

}


