

#slideshow {
  position: relative;
  height: 305px;
  >div {
    width: 100%;
    img {
      width: 100%;
    }
    a.more_info {
      position: absolute;
      z-index: 9999;
      bottom: 5px;
      right: 10px;
    }
  }
}
#slideshow-wrapper{
    margin: 0;
    position: relative;
        #next {
          @include slidesBtn;
          right: 0px;
          background-position: right top;
       }
        #prev {
          @include slidesBtn;
          left: 0px;

        }

      &:hover {
        #next, #prev {
          opacity: 1;
        }
      }

}


