/* Stylesheet for the 'V2 Theme' Plone theme */

#portal-personaltools-wrapper {
    border-top: 1px dotted #76797C;
}

#portal-personaltools {
    margin-right: 230px;
    border-top: none;
    padding: 0 2em;
}

#portal-personaltools .actionMenuContent
{
    bottom:1.6em;
    right:228px;
    top:auto;
}

#parent-fieldname-text .tileItemOneColumn
{
    padding-left:15px;
}

.actionMenu .actionMenuHeader
{
    float:right;
}

.ploneSkin .mceExternalToolbar
{
    background-color:#cccccc !important;
}

.documentContent.mceContentBody
{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:transparent;
    background-image:url("backOpacityIE.png");
    border:1px solid #DCDCDC;
    padding:12px;
}

body.documentContent.mceContentBody .Apple-style-span, body.documentContent.mceContentBody p, body.documentContent.mceContentBody div
{
    font:12px Verdana,Helvetica,Arial,sans-serif;
}

.actionMenu .actionMenuContent ul
{
    padding:10px;
    opacity:0.8;
    background-color:#84A311;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.actionMenu .actionMenuContent li a
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color:white;
    background-color:transparent;
    text-align:left;
}

.actionMenu .actionMenuContent li:hover
{
    background-color:white;
}

.actionMenu .actionMenuContent li:hover a
{
    color:#84A311;
    background-color:white;
}

.contentViews
{
    padding-left: 0;
}

/*  LANG SELECTOR  */

#portal-languageselector
{
    float:right;
    clear:right;
    list-style:none;
    margin-top:20px;
    /*margin-right:-4px;
    margin-top:-25px;*/
}

#portal-languageselector li
{
    float: right;
    margin-left: 5px;
    margin-top: 5px;
    width: 16px; height:11px;
    background-image:url(flags.jpg);
    background-position:-12px -5px;
    text-indent:-9999px;
    cursor:pointer;
}

#portal-languageselector li.currentLanguage
{
    display:none;
}

#portal-languageselector li.language-zh
{
    background-position:-45px -117px;
}

#portal-languageselector li.language-de
{
    background-position:-297px -117px;
}

#portal-languageselector li.language-en
{
    background-position:-297px -173px;
}

#portal-languageselector li.language-es
{
    background-position:-17px -173px;
}

.tileBody {
    line-height: 1.3em;
    margin-left: 0;
    margin-top: 4px;
}

.align-top {
  vertical-align: top;
}